﻿@page "/dartsmathquiz"
@using DartsApp.Models
@using System.ComponentModel
<table class="table">
    <thead>
        <tr>
            <th>1. Wurf</th>
            <th>2. Wurf</th>
            <th>3. Wurf</th>
            <th>Ergebnis</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var round in Rounds)
        {
            <tr>
                <td>@round.Factor1Display @round.Throw1 </td>
                <td>@round.Factor2Display @round.Throw2 </td>
                <td>@round.Factor3Display @round.Throw3 </td>
                <td><input disabled="@round.DisabledTextArea" type="number" min="0" max="180" @bind="round.Guess" @onkeyup="@((e) => { if (e.Key == "Enter" ) { CheckResult(round);} })" /></td>
            </tr>
        }
    </tbody>
    <tbody>
        <tr>
            <td style="color:mediumorchid">Übersprungen: @amountSkipped von 3</td>
            <td style="color:red">Falsche Ergebnisse: @wrongAnswers</td>
            <td style="color:green">Richtige Ergebnisse: @correctAnwers</td>
            @if (isCorrect == false)
            {
                <td style="color:red">Ergebnis nicht korrekt</td>
            }
        </tr>
    </tbody>
</table>

@if (hasStarted==false) {<button style="text-align:center"  @onclick="StartGame">Start</button>}

@if (hasStarted && skipNotPossible==false)
{<button style=" background-color:mediumorchid; color:white" disabled="@skipNotPossible" @onclick="Skip">Überspringen</button>}

@if (skipNotPossible)
{<p style="color:mediumorchid">Limit erreicht! Überspringen nicht mehr möglich!</p>}

@if (hasStarted)
{<button class="btn-light" @onclick="Restart">Restart</button>}

@code
{
    List<Round> Rounds = new List<Round>();
    public bool hasStarted = false;
    public bool isCorrect = true;
    public bool skipNotPossible = false;
    public int amountSkipped;
    public int wrongAnswers;
    int correctAnwers;

    public void StartGame()
    {
        hasStarted = true;
        Round round = new Round();
        round.Throw();
        Rounds.Add(round);
    }

    private void Skip()
    {
        amountSkipped++;
        StartGame();
        if (amountSkipped == 3)
        {
            skipNotPossible = true;
        }
    }

    private void CheckResult(Round round)
    {
        if (round.CheckGuess())
        {
            isCorrect = true;
            round.DisabledTextArea = true;
            correctAnwers++;
            StartGame();
        }
        else
        {
            wrongAnswers++;
            isCorrect = false;
        }
    }

    public void Restart()
    {
        hasStarted = false;
        skipNotPossible = false;
        amountSkipped = 0;
        wrongAnswers = 0;
        correctAnwers = 0;
        Rounds.Clear();
    }
}