﻿@page "/dartsgamehelper"
@using DartsApp.Models
@using System.ComponentModel
@using DartsMathquiz.Models

<h3>DartsGameHelper</h3>
<table class="table-striped">
    <thead>
        <tr>
            <th>First Throw</th>
            <th>Second Throw</th>
            <th>Third Throw</th>
            <th>Remaining Score: @gamescore</th>
        </tr>
        <tr>
            <td><input type="number" @bind="input1" /></td>
            <td><input type="number" @bind="input2" /></td>
            <td><input type="number" @bind="input3" /></td>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>

<button class="btn-primary" @onclick="Throw">Add throw</button>
<button class="btn-danger" @onclick="NewGame">New Game</button>
@if (hasEnded)
{<p style="color:blue"> Game has ended click New Game to restart</p>}

@if (overthrow)
{
    <p style="color:red">OVERTHROW</p>
}

@code {
    int gamescore;
    int input1;
    int input2;
    int input3;
    bool hasStarted;
    bool hasEnded;
    bool overthrow;

    public void NewGame()
    {
        gamescore = 501;
        hasEnded = false;
    }

    public void Throw()
    {
        overthrow = false;
        RoundCalc calc = new RoundCalc();
        if (input1 < 0 || input2 < 0 || input3 < 0)
        {
            input1 = 0;
            input2 = 0;
            input3 = 0;
        }
        if (input1 > 60 || input2 > 60 || input3 > 60)
        {
            input1 = 0;
            input2 = 0;
            input3 = 0;
        }
        calc.Throw1 = input1;
        calc.Throw2 = input2;
        calc.Throw3 = input3;
        calc.AddThrows();
        if (calc.Result > gamescore)
        {
            calc.Result = 0;
            overthrow = true;
        }
        gamescore = gamescore - calc.Result;
        if (gamescore <= 0)
        {
            gamescore = 0;
            hasEnded = true;
        }
    }
    // <td><input disabled="" type="number" @bind="" @onkeyup="@((e) => { if (e.Key == "Enter" ) { );} })" /></td>
    // Durschnitt der Punkte vom Wurf
}


